div{
display:inline-block

}
.dis{
    float:right;
    margin-right:10px;
}
.back{
    float:left;
    margin-left:0px;
}
/* img{
height: 100px;
width:80px;
margin-left:40px;
margin-top:110px; 
 position:relative;
box-shadow:10px 8px 13px -2px;
widows: 100%;
height:50%
}  */
a{
    text-decoration:none;
    color:black;
}

.color{
    background-color:#2b3e50;
    width:100%;
}
/* .inline{
   
  
} */
.img{
    /* display:inline-block; */
 width:100%
}
/* .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 19rem;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:8px;
    margin-left:15px;
    background-color:gray;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
     */
     .serch:active{
         transform:translateY(4px);
         box-shadow: 0 5px #666;
         
     }
     .search{
         cursor:pointer;
         outline:none;
         margin:9px;
         border:none;
         border-radius: 19px;
     }
